*$py.class
*.code-workspace
*.cover
*.egg
*.egg-info/
*.env
*.log
*.manifest
*.mo
*.pdb
*.pot
*.prof
*.py[co]
*.py[cod]
*.pyc
*.pyo
*.sage.py
*.so
*.spec
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.virtualenv/
*.vscode
*api_key.jdon
*credential.json
*credentials.json
*token.json
*~
.DS_Store
.DS_store
.Python
.cache
.cache/
.coverage
.coverage.*
.doctrees
.eggs/
.env
.env.*
.flake8
.hypothesis/
.idea
.idea/
.installed.cfg
.ipynb_checkpoints
.ipynb_checkpoints/
.mypy_cache/
.pylint.d/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.venv/
.vscode/
.webassets-cache
/*.bak
/*.egg
/*.egg-info/
/*.egg-link
/*.patch
/.coverage
/.eggs/
/.pytest_cache/
/.tox
/AES.pyd
/AES.so
/MANIFEST
/build/
/dist/
/doc/_build
/doc/_pyi*-options.tmp
/doc/man/_pyi*.tmp
/doc/source/_definitions.txt
/pip-wheel-metadata/
/site
/tests/build*
/tests/dist*
Desktop.ini
Dockerfile*
ENV/
MANIFEST
Thumbs.db
Thumbs.db*.egg
__pycache__/
build/
celerybeat-schedule
coverage.xml
db.sqlite3
develop-eggs/
dist/
docker-compose.override.yml
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv.bak/
venv/
wheels/
